:global(body) {
  background-color: theme('colors.gray.100');
}

.resume {
  padding: 1in;
  position: relative;
}

.lastEdited {
  position: absolute;
  top: 0.25in;
  right: 0.5in;

  font-size: 12px;
  color: #666
}

@media print {
  .lastEdited {
    display: none;
  }

  .resume {
    padding: 0.5in;
  }
}

.grid {
  display: flex;
  justify-content: space-between;
}

.cell {
  padding: 6px 12px;
}

.title {
  font-weight: bold;
  font-family: serif;
  font-size: 48px;
}

.bio {
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.bioText {
  padding: 12px 2px;
  font-size: 14px;
}

.image {
  align-self: center;
  filter: grayscale(1);
  transition: filter 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.image img {
  border-radius: 100%;
}

.image:hover {
  filter: grayscale(0);
}

.subTitle {
  font-weight: bold;
  font-family: serif;
  font-size: 32px;
}

.experience {
  padding-right: 16px;
  border-right: 1px solid #ccc;
}

.small {
  font-size: 12px;
  text-transform: italic;
}