:root {
  --sans-serif-stack: "Raleway", "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  --serif-stack: "Hahmlet", "Trebuchet MS", sans-serif;

}

:global(body) {
  background-color: theme('colors.gray.100');
}

.main {
  max-width: 8.5in;
  margin: 0 auto;

  font-family: var(--sans-serif-stack);
}

.grid {
  display: flex;
  justify-content: space-between;
}

.cell {
  padding: 6px 12px;
}

.under {
  text-decoration: underline;
}

.title {
  font-weight: bold;
  font-family: var(--serif-stack);
  font-size: 48px;
  line-height: 1.1;

  padding-top: 0.125in;
  padding-bottom: 0.125in;
}

.bio {
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.bioText {
  padding: 12px 2px;
  font-size: 14px;
}

.image {
  align-self: center;
  filter: grayscale(1);
  transition: filter 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.image img {
  border-radius: 100%;
}

.image:hover {
  filter: grayscale(0);
}

.subTitle {
  font-weight: bold;
  font-family: var(--serif-stack);
  font-size: 32px;
}

.experience {
  padding-right: 16px;
  border-right: 1px solid #ccc;
}

.details {
  padding-left: 0.25in;
  padding-right: 0.25in;
  padding-top: 0.125in;
}

.small {
  font-size: 12px;
  text-transform: italic;
}

.downloadResume {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0.125in 0;
  padding: 0.125in 0.25in;

  background-color: #222;
  color: #eee;
  border: 2px solid transparent;
  font-weight: bold;

  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.downloadResume:hover {
  border-color: #222;
  background-color: transparent;
  color: #222;
}

@media print {
  .downloadResume {
    display: none;
  }
}
