.button {
  background-color: transparent;
  border: none;
  color: theme('color.white');
  font-size: theme('fontSize.xs');
  font-family: theme('font.sans'); /* TODO: validate */
}

.button[disabled] {
  cursor: not-allowed;
}
