.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: theme('colors.gray.800');
  position: relative;
  height: 75vh; /* TODO: probably tweak with media queries */
}

.header canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.compressed {
  height: 50vh;
  align-items: flex-start;
  justify-content: flex-start;
}

.compressed .content {
  padding-top: theme('spacing.2');
  padding-left: theme('spacing.2');
}

.compressed .title {
  font-size: theme('fontSize.2xl');
}

.compressed .firstName {
  padding-right: theme('spacing.2');
}

.content {
  z-index: 2;
}

.link {
  color: inherit;
  text-decoration: none;
}

.title {
  color: theme('colors.white');
  font-size: 5vw;
  text-transform: uppercase;
  padding: theme('spacing.1') 2.5vw;
  background-color: theme('colors.gray.900');
  user-select: none;
}

.firstName {
  font-weight: bold;
  padding-right: 1vw;
}

.sub-title {
  position: absolute;
  bottom: theme('spacing.2');
  padding: theme('spacing.2');
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
  background-color: theme('colors.gray.200');
  color: theme('colors.gray.900');
  font-size: theme('fontSize.lg');
  font-weight: bold;
  text-transform: uppercase;
}

.ampersand {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: normal;
}

.navigation {
  position: absolute;
  top: theme('space.2');
  z-index: 2;
}
