.nav {
}

.links {
  margin: 0;
  padding: 0;
}

.links > li {
  display: inline-block;
  padding: theme('space.1');
  margin: 0 theme('space.2');
}

.icon {
  height: theme('fontSize.3xl');
  width: theme('fontSize.3xl');
  color: theme('colors.gray.500');
  transition: color ease-in-out 250ms;
}

.icon:hover {
  color: theme('colors.gray.100');
}
