.container {
  position: relative;
  margin: theme('padding.5');
}

.pre {
  background-color: #282a36;
  overflow-x: scroll;
}

.copy {
  color: theme('colors.white');
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 4px;
}
